{% extends "base.html" %}
{% load extra_tags %}
{% load humanize %}
{% block title %}{% spaceless %}Badges{% endspaceless %}{% endblock %}
{% block forejs %}
       <script type="text/javascript">
        $().ready(function(){
            $("#nav_badges").attr('className',"youarehere");
        });
         
        </script>
{% endblock %}
{% block content %}
<div id="main-bar" class="">
    <h3>
        List of badges
    </h3>
</div>
<div id="main-body" style="width:100%">
  <div style="" class="paragraph">
    Ask questions, provide answers, vote for the things you find helpful — and Mendix will bestow badges upon you. Here's a list of all the badges, along with a count of how many users have earned each one so far:
    </div>
    <div id="badge-list">
        {% for badge in badges %}
        <div style="clear:both;line-height:30px">
            </div>
            <div style="float:left;width:230px;">
                <a href="{{badge.get_absolute_url}}" title="{{ badge.get_type_display }} : {{ badge.description }}" class="badge"><span class="badge{{ badge.type }}">&#9679;</span>&nbsp;{{ badge.name }}</a><span class="tag-number"> × {{ badge.awarded_count|intcomma }}</span>
            </div>
            <div style="float:left;width:350px;">
                {{ badge.description }}
            </div>
        
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block sidebar %}

<div class="gray-box">
    <h3>Legend</h3>
    <div class="paragraph">
        <a style="cursor:default;" title="Gold medal: the highest honor a very rare" class="badge"><span class="badge1">&#9679;</span>&nbsp;Gold</a>
    </div>
    <div class="paragraph">
      Gold Badges are rare. You'll have to not only participate but be skilled and knowledgeable to earn these. They're something of an accomplishment!
    </div>
    <div class="paragraph">
        <a style="cursor:default;" title="Silver: occasionally awarded the Medal of quality" class="badge"><span class="badge2">&#9679;</span>&nbsp;Silver</a>
    </div>
    <div class="paragraph">
      Silver badges are earned for longer term goals. Silver badges are uncommon, but definitely attainable if you’re interested enough.
    </div>
    <div class="paragraph">
        <a style="cursor:default;" title="Bronze: often given special honor" class="badge"><span class="badge3">&#9679;</span>&nbsp;Bronze</a>
    </div>
    <div class="paragraph">
      Bronze badges are earned for basic use of the Mendix site; they are relatively easy to earn.
    </div>
</div>
{% endblock %}



