ï»¿{% load extra_tags %}
  <div class="MxClient_bottomPane">
    <div id="fishRow">
	    <img src="/content/images/footer-fish.png" alt="" />
    </div>
  <div id="footerWrapper">
	  <div id="footer">
		  <div id="footerNavWrapper">
			  <div class="footerNavBlock">
				  <h2>How It Works</h2>
				  <ul>
					  <li><a href="{{ mxwww_url }}/application-platform-as-a-service/">Feature Overview</a></li>
					  <li><a href="{{ mxwww_url }}/editions/">Editions &amp; Pricing</a></li>
					  <li><a href="{{ mxwww_url }}/application-platform-as-a-service/resources/">Resources</a></li>
				  </ul>
			  </div>
			  <div class="footerNavBlock">
				  <h2>Learn</h2>
				  <ul>
					  <li><a href="https://mxforum.mendix.com/">Forum</a></li>
					  <li><a href="https://appstore.mendix.com/">App Store</a></li>
					  <li><a href="https://academy.mendix.com/">Training</a></li>
					  <li><a href="https://support.mendixcloud.com/">Support</a></li>
				  </ul>
			  </div>
			  <div class="footerNavBlock">
				  <h2>About Us</h2>
				  <ul>
					  <li><a href="{{ mxwww_url }}/customers/">Our Customers</a></li>
					  <li><a href="{{ mxwww_url }}/company/">Who We Are</a></li>
					  <li><a href="{{ mxwww_url }}/partners/">Partners</a></li>
					  <li><a href="{{ mxwww_url }}/company/join-our-team/">Careers</a></li>
					  <li><a href="{{ mxwww_url }}/blogs/">Blog</a></li>
				  </ul>
			  </div>
			  <div class="footerNavBlock" id="footerNavLastBlock">
				  <h2>Stay Connected</h2>
				  <ul>
					  <li class="linkedin"><a href="http://www.linkedin.com/company/mendix" target="_blank">LinkedIn</a></li>
					  <li class="googlePlus"><a href="https://plus.google.com/118138681832263999246/" target="_blank">Google+</a></li>	
					  <li class="twitter"><a href="https://twitter.com/#!/mendix" target="_blank">Twitter</a></li>
					  <li class="facebook"><a href="https://www.facebook.com/mendixsoftware" target="_blank">Facebook</a></li>
					  <li class="rss"><a href="http://feeds.feedburner.com/mendix-combined">RSS Feeds</a></li>
				  </ul>
			  </div>
		  </div>
		  <p id="footerDescription">Mendix is the app platform company for the enterprise. We enable companies to build, integrate and deploy web and mobile applications faster and with better results, effectively driving ROI in days not months.</p>
		  <p id="footerCopyright">Copyright &copy; <span id="theCopyright"></span> | Mendix. All rights reserved<br /><a href="{{ mxwww_url }}/terms-of-use/"> Terms of Use</a> | <a href="{{ mxwww_url }}/privacy-policy/">Privacy Policy</a></p>
	  </div>
  </div>
</div> 
 
<script type="text/javascript">
    var newDate = new Date();
    jQuery('#theCopyright').html(newDate.getFullYear());
</script>

<script type="text/javascript" src="/content/js/retina.js"></script>
