{% load extra_tags %}
  <div class="MxClient_topPane">
    <div id="headerWrapper"> 
		  <div id="headerTop">
				<ul id="mainNav">
					<li id="howItWorksBtn"><a href="{{ mxwww_url }}/application-platform-as-a-service/?utm_source=mendix&utm_medium=software&utm_campaign=mxforum">How It Works</a></li>
					<li id="learnBtn"><a href="{{ mxwww_url }}/learn/?utm_source=mendix&utm_medium=software&utm_campaign=mxforum">Learn</a></li>
					<li id="aboutBtn"><a href="{{ mxwww_url }}/company/?utm_source=mendix&utm_medium=software&utm_campaign=mxforum">About Us</a></li>
					<li id="startForFreeBtn"><a href="{{ mxwww_url }}/try-now/?utm_source=mendix&utm_medium=software&utm_campaign=mxforum">Start for Free</a></li>
					<li id="loginBtn">
						<div id="mxid_topbar_attachpoint"></div>
					</li>
				</ul>
				<div id="logo"><a href="{{ mxwww_url }}/?utm_source=mendix&utm_medium=software&utm_campaign=mxforum"><img src="/content/images/logo-new.png" width="156" height="55" alt="Mendix" /></a></div>
			</div>
        </div> 
    </div> 
  
  <div id="navigation-menu">
    <div class="nav">
      <ul>
        <li class="" id="nav_home"><a href="/">Home</a></li>
        <li class="" id="nav_users"><a href="/users/">Users</a></li>
        <li class="" id="nav_faq"><a href="/faq/">FAQ</a></li>
        <li class="" id="nav_ask"><a href="/questions/ask/">Ask a question</a></li>
      </ul>
    </div>

    <form id="cse-search-box" action="/search/">
      <input type="hidden" name="cx" value="008041280038911820596:be3ercf_tlo" />
      <input type="hidden" name="ie" value="UTF-8" />
      <label for="q" class="assistive-text">Search</label>
      <input type="text" class="field" name="q" id="q" placeholder="Search" />
      <input type="submit" class="submit" name="sa" id="searchsubmit" value="Search" />
    </form>
    
    <div id="header-links">
      {% if request.user.is_authenticated %}
        <a href="/users/{{ request.user.id }}/{{ request.user.real_name|slugify }}/">{{ request.user.real_name }}</a> {% get_score_badge request.user %} 
      {% endif %}
    </div>

    <div class="nav-rss">
      <a title="RSS Feed Mendix Forum" href="/feeds/rss/">RSS Feed</a>
    </div>
  </div>
