{% extends "base_homepage.html" %}
{% load extra_tags %}
{% load extra_filters %}
{% load humanize %}
{% block title %}{% spaceless %}Home{% endspaceless %}{% endblock %}
{% block meta %}
  <meta name="keywords" content="mendix, community, mxforum, modeling, modeler, dsl" />
  <meta name="description" content="Mendix Community questions, discussions and items of interest" />
{% endblock %}
{% block forejs %}
        <script type="text/javascript">
            $().ready(function(){
                $("#nav_home").attr('className',"youarehere");

            });     
        </script>
        {% block userjs %}
        {% endblock %}
{% endblock %}

{% block content %}
<div id="main-bar" class="">
    <h3>
        Recent&nbsp;Questions
    </h3>
</div>
<div id="main-body" class="">
    {% for question in questions %}
    <div class="question-item">

        <div class="boxes">
            <table height="100%">
                <tr>
                    <td width="50px" class="boxes-cell">
                       <div class="vote">
                            <table>
                                <tr>
                                    <td><span class="box-number">{{ question.score|intcomma }}</span></td>
                                </tr>
                                <tr>
                                    <td><div class="box-unit">Vote{% ifnotequal question.score 1 %}s{% endifnotequal %}</div></td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td width="50px" class="boxes-cell">
                        <div {% if question.answer_accepted %}class="answered-accepted"{% else %}{% ifequal question.answer_count 0 %}class="unanswered"{% else %}class="answered"{% endifequal %}{% endif %}>
                            <table>
                                <tr>
                                    <td><span class="box-number">{{ question.answer_count|intcomma }}</span></td>
                                </tr>
                                <tr>
                                    <td><div class="box-unit">Answer{% ifnotequal question.answer_count 1 %}s{% endifnotequal %}</div></td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td width="50px" class="boxes-cell">
                        <div class="view">
                            <table>
                                <tr>
                                    <td>
                                        <span class="box-number">{{ question.view_count|rint }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                      <div class="box-unit">views</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div> <!-- /.boxes -->
        
        <div class="summary">
            <div class="question-title">
                <h4>
                    <a href="{{ question.get_absolute_url|urlencode }}" title="{{ question.summary }}...">
                        {{ question.get_question_title }}
                    </a>
                </h4>
            </div>

            <div class="question-tag">
                {% for tag in question.tagname_list %}
                    <a href="{% url forum.views.tag tag|urlencode %}" class="post-tag" title="View of the '{{ tag }}' question" rel="tag">{{ tag }}</a>
                {% endfor %}
            </div>
            <div class="question-started">
                    {% if question.wiki %}
                    <span class="gray">Community Wiki</span>
                    {% else %}
          <span class="updatedtime" title="{{ question.last_activity_at }}">{% diff_date question.last_activity_at %}</span> <span class="big"><a href="/users/{{ question.last_activity_by.id }}/{{ question.last_activity_by.real_name }}/">{{ question.last_activity_by.real_name }}</a></span>&nbsp;{% get_score_badge question.last_activity_by %}
                    {% endif %}
            </div>

        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block tail %}
	<a href="/questions/?sort=latest&page=2">More questions &#187;</a>
{% endblock %}
