{% extends "base.html" %}
{% load extra_tags %}
{% load extra_filters %}
{% load humanize %}
{% block title %}{% spaceless %}All questions{% endspaceless %}{% endblock %}
{% block forejs %}
{% endblock %}
{% block content %}
<div id="main-bar" class="">
    <h3>{% if searchtag %}Labels{% else %}All questions{% endif %}</h3>
</div>

<div id="main-body" class="">
    {% for question in questions.object_list %}
    <div class="question-item">
        <div class="boxes">
            <table>
                <tr>
                    <td class="boxes-cell">
                       <div class="vote">
                            <table>
                                <tr>
                                    <td><span class="box-number">{{ question.score|intcomma }}</span></td>
                                </tr>
                                <tr>
                                    <td><div class="box-unit">Vote{% ifnotequal question.score 1 %}s{% endifnotequal %}</div></td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td class="boxes-cell">
                        <div {% if question.answer_accepted %}class="answered-accepted"{% else %}{% ifequal question.answer_count 0 %}class="unanswered"{% else %}class="answered"{% endifequal %}{% endif %}>
                            <table>
                                <tr>
                                    <td><span class="box-number">{{ question.answer_count|intcomma }}</span></td>
                                </tr>
                                <tr>
                                    <td><div class="box-unit">Answer{% ifnotequal question.answer_count 1 %}s{% endifnotequal %}</div></td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td class="boxes-cell">
                        <div class="view">
                            <table>
                                <tr>
                                    <td>
                                        <span class="box-number">{{ question.view_count|rint }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                      <div class="box-unit">views</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div> <!-- /.boxes -->

        <div class="summary">
            <div class="question-title">
                <h4>
                    <a href="{{ question.get_absolute_url|urlencode }}" title="{{ question.summary }}...">
                        {{ question.get_question_title }}
                    </a>
                </h4>
            </div>

            <div class="question-summary">
                {{ question.summary }}...                
            </div>

            <div class="question-tag">
                {% for tag in question.tagname_list %}
                    <a href="{% url forum.views.tag tag|urlencode %}" class="post-tag" title="View of the '{{ tag }}' question" rel="tag">{{ tag }}</a>
                {% endfor %}
            </div>
            <div class="question-started">
                    {% if question.wiki %}
                    <span class="gray">Community Wiki</span>
                    {% else %}
          <span class="updatedtime" title="{{ question.last_activity_at }}">{% diff_date question.last_activity_at %}</span> <span class="big"><a href="{{myprofile_url}}/link/profile/{{ question.last_activity_by.openid|urlencode }}">{{ question.last_activity_by.real_name }}</a></span>&nbsp;{% get_score_badge question.last_activity_by %}
                    {% endif %}
            </div>

        </div> <!-- /.summary -->

    </div> <!-- /.question-item -->
    {% endfor %}
</div> <!-- /#main-body -->
{% endblock %}

{% block tail %}
{% cnprog_paginator context %}
    <div class="paginator-container">
        {% cnprog_pagesize context %}
    </div>
{% endblock %}

{% block sidebar %}
<div class="gray-box gray-box-bg">
	<div>
		<div class="browsing">
            You are browsing <br>
            <div class="questions-count">{{ questions_count|intcomma }}</div>
            <div class="paragraph">
                Questions {% if searchtag %} marked as <span class="post-tag">{{ searchtag }}</span><!-- of --> {% endif %}
			</div>
		</div>
        <div class="paragraph">You can also use <a href="/tags/" title="View all tags"><strong>tags</strong></a> and <a href="#" title="Search problems"><strong>searchs</strong></a> to find questions.</div>
    </div>
</div>

<h3 class="outside">Related tags</h3>
<div class="gray-box gray-box-bg">
    <div id="related-tags">
        {% for tag in tags %}
            <a class="post-tag" rel="tag" title="View of the '{{ tag.name }}' of the problem"  href="{% url forum.views.tag tag.name|urlencode %}">{{ tag.name }}</a>
            <span class="tag-number">× {{ tag.used_count|intcomma }}</span>
            <br>
        {% endfor %}
        <br>
    </div>
</div>

{% endblock %}

