{% extends "base.html" %}
{% load extra_tags %}
{% load extra_filters %}
{% load humanize %}
{% block title %}{% spaceless %}Search&nbsp;results for {{ searchterms }}{% endspaceless %}{% endblock %}
{% block meta %}
  <meta name="keywords" content="mendix, community, mxforum, modeling, modeler, dsl">
  <meta name="description" content="Mendix Community questions, discussions and items of interest">
{% endblock %}
{% block forejs %}
{% endblock %}
{% block content %}
<div id="main-body" class="">
	<gcse:search linkTarget="_self"></gcse:search> 
</div>
{% endblock %}

{% block sidebar %}
{% if not request.user.is_authenticated %}
<div class="yellow-box">
    <h3 class="darkred">Mendix Community</h3>
    <div class="highlight-box">
      <span class="darkred">Mendix QA </span>
      is a community where developers and modelers can edit the Q &amp; A community.
      <p>
      Here you can question the technical aspects of various procedures -
      regardless of language and platform issues. At the same time also hope
      that whatever your other questions, give your valuable answer. [todo]
        </p>
        <div style="text-align:right">
            <a href="/faq/">FAQ »</a>
            <br>
        </div>
    </div>
</div>
{% endif %}
<div class="gray-box">
    <a href="{% url badges %}" style="float:right;position:relative">Badges</a>
    <br>
</div>
{% endblock %}
