{% extends "base_content.html" %}
{% load extra_tags %}
{% load humanize %}
{% block title %}{% spaceless %}Tags{% endspaceless %}{% endblock %}
{% block forejs %}
{% endblock %}
{% block content %}
<div id="main-bar" class="">
    <h3>
       Tags
    </h3>
</div>
<div id="subheader" class="user-content">
    <div id="tab" class="">
        <a id="sort_used" {% ifequal tab_id "popular" %}class="youarehere"{% endifequal %} href="?sort=used" title="Sort by usage">Popular</a>
        <a id="sort_name" {% ifequal tab_id "name" %}class="youarehere"{% endifequal %} href="?sort=name" title="Sort by name">Name</a>
    </div>
</div>
<div id="main-body" class="user-content">
    <div class="paragraph">
        <p>Questions are grouped by tags. Using the right tags makes it easier for others to find and answer your question.</p>
        
        <div class="paragraph users-paragraph">
            <form action="/tags/" method="post">
            	<label>Type and press search to find tags:</label>
    			<input id="ipSearchTag" name="ipSearchTag" autocomplete="off" size="40" >
    			<input id="btSearchTag" type="submit" class="submit" value="Go!" />
            </form>
        </div>
        {% if stag %}
            All tags matching '<span class="darkred"><strong>{{ stag }}</strong></span>' : 
        {% endif %}
    </div>
    {% if not tags.object_list %}
        <span >No relevant data found</span>
    {% endif %}
    <table class="list-table list-table-tags">
        <tr>    
            <td class="taglist-td">
            {% for tag in tags.object_list %}
                <a href="{% url forum.views.tag tag|urlencode %}" class="post-tag" title=" View the '{{ tag }}' question" rel="tag">
                    {{ tag }}
                </a> 
                <span class="tag-number">× {{ tag.used_count|intcomma }}</span>
                <br>
                
                {% if forloop.counter|divisibleby:"13" %}
                    </td>
                    <td class="taglist-td">
                {% endif %}

            {% endfor %}
            </td>
        </tr>   
    </table>
    <div class="paginator-container">
        {% cnprog_paginator context %}
    </div>
    
    
</div>
{% endblock %}



