{% extends user_template %}
{% load extra_tags %}
{% load humanize %}

{% block usercontent %}
        <div class="recent-activity">
        {% for response in responses %}
            <div class="repsonses_column">
                <div class="repsonses_column_1">{% diff_date response.time 3 %}</div>
                <div class="repsonses_column_2"><a href="{{ response.userlink }}">{{ response.real_name }}</a></div>
                <div class="repsonses_column_3">
                    <strong {% ifequal response.type "Answer questions"%}class="user-action-2"{% endifequal %}{% ifequal response.type "Best answer"%}class="user-action-8"{% endifequal %}>{{ response.type }}</strong>：
                    <a href="{{ response.titlelink }}">{{ response.title }}</a><br>
                    <p>{{ response.content|safe }}</p>
                    <div style="height:10px"></div>
                </div>

            </div>
        {% endfor %}
        </div>
{% endblock %}
