{% extends "base_content.html" %}
{% load extra_tags %}
{% load humanize %}
{% block title %}{% spaceless %}{{ page_title }}{% endspaceless %}{% endblock %}
{% block forejs %}
        <script type="text/javascript">
            $().ready(function(){
                $("#nav_users").attr('className',"youarehere");
            });     
        </script>
        {% block userjs %}
        {% endblock %}
{% endblock %}

{% block content %}
    <div id="mainbar-full">
        {% include "user_info.html" %}
        {% include "user_tabs.html" %}
        {% block usercontent %}
        {% endblock %}
	</div>
{% endblock %}