{% extends "user.html" %}
{% load extra_tags %}
{% load humanize %}
    {% block usercontent %}
    <div style="margin-top: 10px;"></div>
        <a name="questions"></a>
        <table>
            <tr>
                <td>
                    <div style="text-align: right;" class="summarysubcount">{{questions|length}}</div>
                </td>
                <td style="vertical-align: bottom; padding-left: 10px;">
                    <h2 class="outside">Questions</h2>
                </td>
            </tr>
        </table>
    {% include "users_questions.html" %}
        <p>&nbsp;</p>
        <a name="answers"></a>
        <table>
            <tr>
                <td>
                    <div style="text-align: right;" class="summarysubcount">{{answered_questions_count}}</div>
                </td>
                <td style="vertical-align: bottom; padding-left: 10px;">
                    <h2 class="outside">Answers</h2>
                </td>
            </tr>
        </table>
        <div class="user-stats-table">
            {% for answered_question in answered_questions %}
            <div class="answer-summary">
                <a title="{{answered_question.summary}}" href="/questions/{{answered_question.id}}/{{answered_question.title}}#{{answered_question.answer_id}}">
                    <div class="answer-votes {% if answered_question.accepted %}answered-accepted{% endif %}" title="The answer to a total of{{ answered_question.vote_count }} polling&#13;{% if answered_question.accepted %}The answer has been set to the best answer{%endif%}">{{ answered_question.vote_count }}</div>
                </a>
                <div class="answer-link">
                    <a href="/questions/{{answered_question.id}}/{{answered_question.title}}#{{answered_question.answer_id}}">{{answered_question.title}}</a> {% if answered_question.comment_count %}<span title="The answer {{ answered_question.comment_count }} article Comments">({{answered_question.comment_count}})</span>{% endif %}
                </div>
            </div>
            {% endfor %}
            {% if answered_questions|length %}
                <div>
                    <a href="/users/{{ view_user.id }}/{{ view_user.real_name }}?page={{ next_page }}">>> more questions by this author</a>
                </div>
            {% endif %}
        </div>
        <p>&nbsp;</p>
        <a name="votes"></a>
        <table>
            <tr>
                <td>
                    <div style="text-align: right;" class="summarysubcount">{{total_votes}}</div>
                </td>
                <td style="vertical-align: bottom; padding-left: 10px;">
                    <h2 class="outside">Votes</h2>                    
                </td>
            </tr>
        </table>
        <div class="user-stats-table">
            <table>
                <tr>
                    <td width="60">
                        <div class="votebox" style="background:none">
                            <img width="40" height="25" style="cursor: default;" src="/content/images/vote-arrow-up-on.png"/>
                            <span title="Upvotes" class="vote-count-post">{{up_votes}}</span>
                            <img width="40" height="25" style="cursor: default;" src="/content/images/vote-arrow-down.png"/>
                        </div>
                    </td>
                    <td width="60">
                        <div class="votebox" style="background:none">
                            <img width="40" height="25" style="cursor: default;" src="/content/images/vote-arrow-up.png"/>
                            <span title="Downvotes" class="vote-count-post">{{down_votes}}</span>
                            <img width="40" height="25" style="cursor: default;" src="/content/images/vote-arrow-down-on.png"/>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <p>&nbsp;</p>
        <a name="tags"></a>
        <table>
            <tr>
                <td>
                    <div style="text-align: right;" class="summarysubcount">{{tags|length}}</div>
                </td>
                <td style="vertical-align: bottom; padding-left: 10px;">
                    <h2 class="outside">Labels</h2>
                </td>
            </tr>
        </table>
        <div class="user-stats-table">
            <table>
                <tr>
                    <td width="180">
                        {% for tag in tags%}
                        <a rel="tag" title="See related '{{ tag }}' the problem of" class="post-tag" href="{% url forum.views.tag tag|urlencode %}">{{tag.name}}</a><span class="tag-number"> × {{ tag.used_count|intcomma }}</span><br>
                            {% if forloop.counter|divisibleby:"10" %}
                                </td>
                                <td width="180">
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>
        <p>&nbsp;</p>
        <a name="badges"></a>
        <table>
            <tr>
                <td>
                    <div style="text-align: right;" class="summarysubcount">{{total_awards}}</div>
                </td>
                <td style="vertical-align: bottom; padding-left: 10px;">
                    <h2 class="outside">Badges</h2>
                </td>
            </tr>
        </table>
        <div class="user-stats-table">
            <table>
                <tr>
                    <td width="250" style="line-height:35px">
                        {% for award in awards %}
                            <a href="/badges/{{award.id}}/{{award.name}}" title="{{ award.description }}" class="badge"><span class="badge{{ award.type }}">&#9679;</span>&nbsp;{{ award.name }}</a><span class="tag-number">&nbsp;x&nbsp;{{ award.count|intcomma }}</span><br>
                            {% if forloop.counter|divisibleby:"6" %}
                                </td>
                                <td width="250" style="line-height:35px">
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>

{% endblock %}
