{% extends "base_content.html" %}
{% load extra_tags %}
{% load humanize %}
{% block title %}{% spaceless %}Users{% endspaceless %}{% endblock %}
{% block forejs %}
        <script type="text/javascript">
            $().ready(function(){
                $("#nav_users").attr('className',"youarehere");
            });     
        </script>
        {% block userjs %}
        {% endblock %}
{% endblock %}

{% block content %}
<div id="main-bar">
    <h3>
		{% ifequal suser "" %}
			Top 50 Users
		{% else %}
			User search
		{% endifequal %}
    </h3>
</div>

<div class="subheader" class="user-content">
    <div id="tab" class="">
        <a id="sort_reputation" {% ifequal tab_id "reputation" %}class="youarehere"{% endifequal %}  href="?sort=reputation">Reputation</a>
        <a id="sort_newest" {% ifequal tab_id "newest" %}class="youarehere"{% endifequal %} href="?sort=newest">Newest</a>
        <a id="sort_last" {% ifequal tab_id "last" %}class="youarehere"{% endifequal %} href="?sort=last">Oldest</a>
        <a id="sort_user" {% ifequal tab_id "user" %}class="youarehere"{% endifequal %} href="?sort=user">Name</a>
    </div>
</div>

<div id="main-body" class="user-content">
    <div class="paragraph users-paragraph">
        <form action="/users/" method="post">
    	    <label>Find user: </label>
            <input id="name" name="name" autocomplete="off" size="40">
            <input id="btSearchTag" type="submit" class="submit" value="Go!" />
        </form>
        {% if suser %}
            Users matching '<span class="darkred"><strong>{{ suser }}</strong></span>' :
        {% endif %}
    </div>
    {% if not users.object_list %}
        <span >No matching users found</span>
    {% endif %}
		<div id="user-list">
        	<table class="list-table">
    	        <tr>    
    	            <td class="list-td">
    	            	{% for user in users.object_list %}
                        
                        <div class="user-info">
							<div class="user-gravatar"><a href="/users/{{ user.id|urlencode }}/{{ user.real_name|urlencode }}/">{% gravatar user 40 %}</a></div>
                            <div class="user-details">
								<a href="/users/{{ user.id|urlencode }}/{{ user.real_name|urlencode }}/">{{user.real_name}}</a><br>{% get_score_badge user %}
                            </div>
                        </div>
                        
                {% if forloop.counter|divisibleby:"10" %}
                    </td>
                    <td>
                {% endif %}

    		            {% endfor %}
    	            </td>
    	        </tr>   
    	    </table>
		</div>
    <div class="paginator-container">
        {% cnprog_paginator context %}
    </div>
</div>
{% endblock %}
