{% load extra_tags %}
{% load extra_filters %}
{% load humanize %}
<div class="user-info-header">
	<div class="user-info-avatar">
		{% gravatar view_user 72 %}
	</div>
	<div class="user-info-meta">
		{% if view_user.real_name %}
    	<span class="user-info-name">{{view_user.real_name}}</span>
    	{% endif %}
        {% if view_user.last_seen %}
        <small>Last activity: <span class="relativetime" title="{{ view_user.last_seen }}">{{ view_user.last_seen|timesince }} ago</span></small> | 
        {% endif %}
        {% if votes_today_left %}
        <small>{{ votes_today_left }} votes left today</small>
        {% endif %}
        {% if view_user.website %}
        | <small>Website: <a rel="nofollow" target="_blank" href="{{view_user.website}}">{{view_user.website}}</a></small> 
        {% endif %}
	</div>
</div>
{% if view_user.about %}
<div class="user-info-description">
    {{view_user.about|safe|linebreaks}}
</div>
{% endif %}
