{% extends "base.html" %}
{% block title %}{% spaceless %}User signin{% endspaceless %}{% endblock %}
{% block forejs %}
	<script type="text/javascript" src="/content/js/jquery.openid.js?"></script>
    <script type='text/javascript' src='/content/js/jquery.validate.pack.js'></script>
	<script type="text/javascript">
	$().ready(function(){
	    openid.init('id_openid_url');
        setupFormValidation("#openid_form", {bsignin:{required: true}});
	});
	</script>
{% endblock %}
{% block content %}
<div id="main-bar" class="">
    <h3>
        User signin
    </h3>
</div>
<div class="login">
    <form name="openid_form" action="{% url user_signin %}" method="post">
        {{ form2.next }}
        <div class="paragraph" style="display:none">CNProg支持<b>两种</b>登录模式。您可以使用帐号、密码登录，或者使用OpenID登录。</div>
        {% if msg %}
            <div class="paragraph warning">{{ msg }}</div>
        {% endif %}
        <fieldset class="fieldset">
    		<legend class="big">Log in using OpenID</legend>
            <div id="openid_choice">
                <div style="padding:10px 0 10px 0">Please select your account type and complete the OpenID correct address (such as: the replacement of "(username)" corresponds to your account number):</div>
                <div id="openid_btns"></div>
            </div>
            <br>
            
        	<div style="margin:30px 0 10px 0">
                {{ form2.openid_url }} <input id="bsignin" name="bsignin" type="submit" value="Login" class="openid-login-submit" />
        	</div>
        </fieldset>	
    </form>
    <div style="display:none">
        <br>
        {% if form1.errors %}
        <p class="errors">
            <span class="big">请注意以下错误：</span><br>
            <ul class="error-list">
                {% if form1.username.errors %} 
                <li><span class="error">{{ form1.username.errors|join:", " }}</span></li>
                {% endif %}
                {% if form1.password.errors %} 
                <li><span class="error">{{ form1.password.errors|join:", " }}</span></li>
                {% endif %}
            </ul>
        </p>
        {% endif %}
        <br>
        <form name="fauth" action="{% url user_signin %}" method="post">
            {{ form1.next }}
        	<fieldset class="fieldset" >
        		<legend class="big">使用帐号密码登录</legend>
        		<div class="form-row"><label for="id_username">用户名：</label><br />{{ form1.username }}</div>
        		<div class="form-row"><label for="id_password">密码：</label><br />{{ form1.password }}</div>
               <div class="submit-row"><input type="submit" class="submit" name="blogin" value="Login"> <a href="">忘记密码？</a> <a href="">注册新帐号</a></div>
           
        	</fieldset>	
        </form>
    </div>
</div>	
{% endblock %}

{% block sidebar %}
<div class="yellow-box">
    <h3>Why do I need OpenID?</h3>
    <ul class="list-item">
        <li>
        No need to register a new account everywhere.
        </li>
				<li>
				OpenID is an industry standard
        </li>
				<li>
				There are 160 million OpenID accounts already, with support from over 10,000 organizations.
        </li>
    </ul>
    <a href="http://openid.net/what/" target="_blank" style="float:right;position:relative">More information »</a><br>
		<a href="http://openid.net/get/" target="_blank" style="float:right;position:relative">Access OpenID »</a>
    <br>  
</div>
{% endblock%}

