@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-a5in3b');
	src:url('../fonts/icomoon.eot?#iefix-a5in3b') format('embedded-opentype'),
		url('../fonts/icomoon.woff2?-a5in3b') format('woff2'),
		url('../fonts/icomoon.ttf?-a5in3b') format('truetype'),
		url('../fonts/icomoon.woff?-a5in3b') format('woff'),
		url('../fonts/icomoon.svg?-a5in3b#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	position: relative;
	top: 1px;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #888;
	}
	a [class^="icon-"], a [class*=" icon-"] {
		color: inherit;
	}

.icon-calendar:before {
	content: "\ea5f";
}
.icon-calendar:after {
	content: " ";
}
.icon-arrow-right:before {
	content: "\edc5";
}
.icon-user:before {
	content: "\eb05";
}
.icon-user:after {
	content: " ";
}
.icon-newwindow:before {
	content: "\eec6";
}
.icon-location:before {
	content: "\ea38";
}
.icon-location:after {
	content: " ";
}
.icon-modelshare:before {
	content: "\e600";
}
.icon-modelshare:after {
	content: " ";
}
.icon-webinars:before {
	content: "\ec82";
}
.icon-webinars:after {
	content: " ";
}
.icon-blog:before {
	content: "\e90e";
}
.icon-blog:after {
	content: " ";
}
.icon-intro:before {
	content: "\e99e";
}
.icon-intro:after {
	content: " ";
}
.icon-advanced:before {
	content: "\e993";
}
.icon-advanced:after {
	content: " ";
}
.icon-appstore:before {
	content: "\e9fe";
}
.icon-appstore:after {
	content: " ";
}
.icon-forum:before {
	content: "\ead9";
}
.icon-forum:after {
	content: " ";
}
.icon-certification:before {
	content: "\eb9d";
}
.icon-certification:after {
	content: " ";
}
.icon-jobs:before {
	content: "\ebff";
}
.icon-jobs:after {
	content: " ";
}
.icon-tools:before {
	content: "\ec1c";
}
.icon-tools:after {
	content: " ";
}
.icon-start:before {
	content: "\ec36";
}
.icon-start:after {
	content: " ";
}
.icon-play:before {
	content: "\e601";
}
.icon-play:after {
	content: " ";
}
.icon-tag:before {
	content: "\ecb4";
}
.icon-tag:after {
	content: " ";
}
.icon-github:before {
	content: "\ef10";
}
.icon-google-plus:before {
	content: "\eee5";
}
.icon-facebook:before {
	content: "\eee9";
}
.icon-twitter:before {
	content: "\eeee";
}
.icon-linkedin:before {
	content: "\ef24";
}
.icon-menu:before {
    content: "\ec6e";
}
.icon-x:before {
	content: "\e603";
}
.icon-plus:before {
	content: "\ed5a";
}
.icon-minus:before {
	content: "\ed5b";
}
.icon-arrow-up:before {
	content: "\edc4";
}
.icon-quotes-left:before {
	content: "\eb18";
}
.icon-quotes-left:after {
	content: " ";
}
.icon-quotes-right:after {
	content: "\eb19";
}
.icon-quotes-right:before {
	content: " ";
}
.icon-community:before {
    content: "\eaf5";
}
.icon-community:after {
    content: " ";
}
.icon-graduate:before {
    content: "\e800";
}
.icon-arrow-down:before {
	content: "\edc6";
}
.icon-checkmark:before {
	content: "\ed6c";
}
.icon-checkmark:after {
	content: " ";
}
.icon-question:before {
	content: "\ed53";
}
.icon-bullet:before {
	content: "\ee75";
}
.icon-bullet:after {
	content: "\00a0\00a0\00a0";
}
.icon-mvp:before {
	content: "\eba5";
}
.icon-mvp:after {
	content: " ";
}
.icon-essentials:before {
	content: "\e963";
}
.icon-essentials:after {
	content: " ";
}
.icon-api:before {
	content: "\eb5c";
}
.icon-api:after {
	content: " ";
}
.icon-reference:before {
	content: "\e9a2";
}
.icon-reference:after {
	content: " ";
}
.icon-howto:before {
	content: "\e9aa";
}
.icon-howto:after {
	content: " ";
}
.icon-sdk:before {
	content: "\e9cf";
}
.icon-sdk:after {
	content: " ";
}
.icon-release:before {
	content: "\e9ad";
}
.icon-release:after {
	content: " ";
}