{% extends "base_content.html" %}
{% load extra_tags %}
{% load humanize %}
{% block title %}{% spaceless %}About Us{% endspaceless %}{% endblock %}
{% block forejs %}
{% endblock %}
{% block content %}
<div id="main-bar" class="">
    <h3>
        About Us
    </h3>

</div>
<div id="main-body" style="width:100%">
    <div id="" class="paragraph">
     CNProg Yes<strong>a programmer for the Chinese community of free technical Q & A</strong>.<br>
      We use transparent, open, universal management mode of operation, to allow all users to more easily seek help, find answers, solve practical technical problems.
     <br><br>
     
     <strong>We do not operate the community, by you to operate.</strong>Each user is not only the administrator is also the author of the needs of the community function.<br>
      The community is collaboration, the system the more trust you, you get more in the community management of permissions, can begin to edit the questions or answers.
      Help us to organize questions and answers to help the vast numbers of programmers in need of help the user.
     <br><br>
     CNProg is a range of forums, blog, wiki and Digg between community systems, based on the Python and Django development，We hope that users faster access to have better operating experience。
     <br>
    </div>
    <div id="" class="paragraph">
        <h3 class="subtitle">Who you are？</h3>
         We like you, but also want to prepare high-quality software developers. Welcome you to join our team:
        <br><br>
        <table cellspacing="5" cellpadding="3">
            <tr>
                <td width="150px"><img src="/content/images/nophoto.png"></td>
                <td width="150px"><img src="/content/images/nophoto.png"></td>
                <td width="150px"><img src="/content/images/nophoto.png"></td>
                <td width="150px"></td>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
                <td>  </td>
                <td><a ></a></td>
            </tr>
            <tr>
                <td colspan="4" height="5"></td>
            </tr>
	        <tr>
                <td width="150px"><img src="/content/images/nophoto.png"></td>
                <td width="150px"><img src="/content/images/nophoto.png"></td>
                <td width="150px"></td>
                <td width="150px"></td>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
        </table>
        <br><br>
        Welcome to our <strong><a href="http://blog.cnprog.com">Team Blog</a></strong>Or view more introduced<a href="/faq/" class="big">CNProg FAQ</a>。
    </div>
    <br><br>
    
</div>
{% endblock %}
