{% extends "base_content.html" %}
{% load extra_tags %}
{% load humanize %}
{% block title %}{% spaceless %}FAQ{% endspaceless %}{% endblock %}
{% block forejs %}
{% endblock %}
{% block content %}
<div id="main-bar" class="">
    <h3>
        Frequently&nbsp;Asked&nbsp;Questions(FAQ)
    </h3>
</div>
<div id="main-body" style="width:100%">
    <div id="" class="paragraph">
        <h3 class="subtitle">Why does this site look so different, compared to other forums?</h3>
        True, where older forums are controlled by assigned moderators we really like the idea that the most prominent users, who gained <span class="yellowbg">reputation</span> by contributing valuable content, can have certain privileges to keep this forum clean. In other words, this forum is run by you.  <br>  
    </div>
    
	<div id="" class="paragraph">
        <h3 class="subtitle">Reputation?</h3>
        For basic use of our forum, you do not need any reputation, asking questions, answering questions and simply viewing questions can be done by everyone.
        <br><br>
		If you want to help run the site, you need reputation. The more reputation you gain by contributing, the more you can change and adjust content. 
        <br><br>
        Reputation can be gained if your questions or helpful answers are voted up by other members. For every upvote, you gain 10 reputation points. But if you ask off topic questions or answers than you might be voted down: this means you lose 2 reputation points.  You can only earn 200 reputation points a day. Any vote for posts that are marked “community wiki” cannot result in gaining reputation.
		<br><br>
		These are the amounts of reputation you need to obtain certain priviliges:
	</div>
    
    <div id="" class="paragraph">
        <table style="font-family:arial;" cellspacing="8" cellpadding="3">
            <tr>
                <th width="40px" style="text-align:right"></th>
                <th width="300px"></th>
            </tr>
	        <tr>
                <td style="text-align:right;padding-right:5px"><strong>15</strong></td>
                <td>Vote up</td>
	        </tr>
	        <tr>
                <td style="text-align:right;padding-right:5px"><strong>15</strong></td>
                <td>Flag offensive</td>
	        </tr>
            <tr>
                <td style="text-align:right;padding-right:5px"><strong>50</strong></td>
                <td>Leave comments</td>
	        </tr>
            <tr>
                <td style="text-align:right;padding-right:5px"><strong>100</strong></td>
                <td>Vote down, (costs 1 rep)</td>
	        </tr><tr>
                <td style="text-align:right;padding-right:5px"><strong>250</strong></td>
                <td>Vote to close or reopen your questions, create new tags</td>
	        </tr>
            <tr>
                <td style="text-align:right;padding-right:5px"><strong>500</strong></td>
                <td>Retag questions </td>
	        </tr>
            <tr>
                <td style="text-align:right;padding-right:5px"><strong>750</strong></td>
                <td>Edit Community Wiki Questions</td>
	        </tr>
            <tr>
                <td style="text-align:right;padding-right:5px"><strong>2000</strong></td>
                <td>Edit other people's posts</td>
	        </tr>
            <tr>
                <td style="text-align:right;padding-right:5px"><strong>3000</strong></td>
                <td>Vote to close or reopen any questions </td>
	        </tr>
            <tr>
                <td style="text-align:right;padding-right:5px"><strong>5000</strong></td>
                <td>Delete Comments</td>
	        </tr>
            <tr>
                <td style="text-align:right;padding-right:5px"><strong>10000</strong></td>
                <td>Delete questions, answers and other management functions</td>
	        </tr>

        </table>
        
    </div>
    <div id="" class="paragraph">
        After earning enough reputation you will become as influential to the community as a moderator, and the community is run by the members instead of an assigned moderator, which is much more democratic!
    </div>
	
	<div id="" class="paragraph">
        <h3 class="subtitle">Disclaimer</h3>
        All messages made available as part of this discussion group  and any opinions, advice, statements or other information contained in 
		any messages posted or transmitted by any member are the responsibility of the author of that message and not of Mendix. 
		The fact that a particular message is posted or transmitted using the Mendix Forum does not mean that Mendix has endorsed that message in any way or verified the accuracy, 
		completeness or usefulness of any message.  
		<br><br>
		This forum is not monitored 24/7.

	</div>
    
    <br><br>
</div>
{% endblock %}



