{% extends "base_content.html" %}
{% load extra_tags %}
{% load humanize %}
{% block title %}{% spaceless %}FAQ{% endspaceless %}{% endblock %}
{% block forejs %}
{% endblock %}
{% block content %}
<div id="main-bar" class="">
    <h3>
        Frequently Asked Questions(FAQ)
    </h3>
</div>
<div id="main-body" style="width:100%">
    <div id="" class="paragraph">
        <h3 class="subtitle">I can here the question of what kind of question?</h3>
        There is no doubt that, first of all must be<span class="yellowbg">Technical programming issues!</span> I hope the problem can be：<br>
        <ul>
            <li>Describe in detail the specific</li>
            <li>Is an issue of discussion is not the answer</li>
            <li>A number of programmers on the topic of love</li>
            
        </ul>
     
    Question prior to making full use of the system to automatically locate, tag and search to see if it has the same problem and have the answer.<br>
    Asked to avoid the same problem and reduce the problem after a friend of the doubt, the future only be able to clearly find questions and answers.
    </div>
    <div id="" class="paragraph">
        <h3 class="subtitle">What kind of problems here that I could not ask a question?</h3>
        <span class="yellowbg">And non-programmers or technical, arising from a quarrel or too subjective and so contrary to the purpose of the content community. </ span> site created to help people solve practical technical problems programmers, we need practical problems!
        <br><br>
       Similarly, the establishment of the early days in the community, many users may have a variety of questions about the community. We hope that through more faq or documentation to explain these questions, if the user did not find the answer, I hope you raise such issues in the community, and cited "faq" or "cnprog" and other related labels. After all, the visit of the user community is one that cares about the answer they are looking for is not complicated to learn how to use the community features.
        <br><br>
        If you have not read too Eric S. Raymond the<a href="http://www.catb.org/~esr/faqs/smart-questions.html">《How To Ask Questions The Smart Way》</a>A friend recommended the first reading of the Monitor Master. In addition, there is a <a href="http://www.dianbo.org/9238/stone/tiwendezhihui.htm">Chinese version</a>，Can refer to browse.<br><br>Anyway,<span class="yellowbg">Management to run the community that you, not us.</span>
    </div>
    <div id="" class="paragraph">
        <h3 class="subtitle">What kind of answer is unpopular?</h3>
        CNProg want to provide users with techniques for answering questions, you can reproduce the problem is to help gain a better understanding of the substance of the matter, to give reference to the program, or the answer to solve the problem. We hope that through the form of questions and answers to solve the practical problems users, so we do not welcome in the reply of the actual issues, and other common forum "disease." CNProg recommends that you use the comment feature to discuss your views and ideas.
    </div>
    <div id="" class="paragraph">
        <h3 class="subtitle">Who is the administrator of the community?</h3>
        The answer is：<span class="yellowbg">Each user.</span><br>

        Communities in the strict sense there is no administrator.
     Operation through the points.<span class="yellowbg">Each user has permissions to create labels for all the questions of voting, editing, and other operations shut down.</span>
    </div>
    <div id="" class="paragraph">
        <h3 class="subtitle">What is community integration?</h3>
        For normal use of the community question and answer, the points are not necessary.<br>
        We have repeatedly stated, CNProg you to run and maintain. If you want to help us to operate CNProg, you need a certain level of points. <span class="yellowbg"> points is a rough measure of the community to have confidence in your data. </ span> who do not have to pay points or directly to you, but you have access to other users through the support and trust, "earned" the.
        <br><br>
        For example, if you mention a very helpful question or made a very useful answer, you will be voted in favor of other users. Instead, you raised the issue of persona non grata, or misleading the user's answer, you may vote by other users. Each vote will help you generate <strong> 10 </ strong> community points would be deducted for each negative vote you <strong> 2 </ strong> points. Daily vote in favor of others, you can only have <strong> 200 </ strong> of points, which is the upper limit. When you accumulated to a certain point, you can in the community to do more things: <br>
        <table style="font-family:arial;" cellspacing="8" cellpadding="3">
            <tr>
                <th width="40px" style="text-align:right"></th>
                <th width="300px"></th>
            </tr>
	        <tr>
                <td style="text-align:right;padding-right:5px"><strong>15</strong></td>
                <td>Vote in favor of</td>
	        </tr>
	        <tr>
                <td style="text-align:right;padding-right:5px"><strong>15</strong></td>
                <td>Tag abuse</td>
	        </tr>
            <tr>
                <td style="text-align:right;padding-right:5px"><strong>50</strong></td>
                <td>Add a comment</td>
	        </tr>
            <tr>
                <td style="text-align:right;padding-right:5px"><strong>100</strong></td>
                <td>Vote against</td>
	        </tr><tr>
                <td style="text-align:right;padding-right:5px"><strong>250</strong></td>
                <td>Open the question of the closure of its own</td>
	        </tr>
            <tr>
                <td style="text-align:right;padding-right:5px"><strong>500</strong></td>
                <td>To any problem finishing Tags</td>
	        </tr>
            <tr>
                <td style="text-align:right;padding-right:5px"><strong>750</strong></td>
                <td>Edit wiki issues</td>
	        </tr>
            <tr>
                <td style="text-align:right;padding-right:5px"><strong>2000</strong></td>
                <td>Edit the answer to any questions or</td>
	        </tr>
            <tr>
                <td style="text-align:right;padding-right:5px"><strong>3000</strong></td>
                <td>Open the question of the closure of any person</td>
	        </tr>
            <tr>
                <td style="text-align:right;padding-right:5px"><strong>5000</strong></td>
                <td>To delete any comment</td>
	        </tr>
            <tr>
                <td style="text-align:right;padding-right:5px"><strong>10000</strong></td>
                <td>Delete any questions or answers, and other management functions</td>
	        </tr>

        </table>
        
    </div>
    <div id="" class="paragraph">
        <h3 class="subtitle"> I need to register a new user? </h3>
             Do not need. Community provides support for OpenID login, do you use Google, Yahoo to support OpenID log on any account can use the system. Sign <strong> <a href="/account/signin"> immediately </ a> »</ strong>
    </div>
    <div id="" class="paragraph">
        <h3 class="subtitle">Why other people can modify my question?</h3>
        CNProg is to help programmers to solve more problems, more convenient to solve the problem. So the question and the answer is the same as editable Wiki, we hope that the community can help the user process, the accumulation of more useful knowledge and experience. If you do not like this way, we respect your choice.
    </div>
    <div id="" class="paragraph">
        <h3 class="subtitle">There are other problems?</h3>
          If you have other questions to the community, please work together to improve our<a href="/tags/faq" class="big">CNProg FAQ</a>。
    </div>
    <br><br>
</div>
{% endblock %}



