{% load extra_tags %}

		<div id="footer">
			<div id="footercontent">
				<div class="sitemap">
					<h2>Mendix 4</h2>
					<a href="http://" title="">Business managers</a>
					<a href="http://" title="">Information managers</a>
					<a href="http://" title="">Business analysts</a>
					<a href="http://" title="">Developers</a>
					<a href="http://" title="">ISV&#39;s</a>
					<a href="http://" title="">Cloud Service Providers</a>
					<a href="http://" title="">System Integrators</a>
					<a href="http://" title="">Universities</a>
				</div>
			
				<div class="sitemap">
					<h2>Product</h2>
					<a href="http://">Features</a>
					<a href="http://">Architecture</a>
					<a href="http://">Open standards</a>
					<a href="http://">Supporting platforms</a>
					<a href="http://">Pricing</a>
					<a href="http://">Mendix in the Cloud</a>
					<a href="http://">App Store</a>
					<a href="http://">How it works</a>
				</div>
				
				<div class="sitemap">
					<h2>Solutions</h2>
					<a href="http://">Insurance Solutions</a>
					<a href="http://">Legacy modernization</a>
					<a href="http://">Cloud Services</a>
					<a href="http://">Self-service Portals</a>
					<a href="http://">Extend your ERP</a>
				</div>
				
				<div class="sitemap">
					<h2>Community</h2>
					<a href="http://">Community Edition</a>
					<a href="http://">e-Learning</a>
					<a href="http://">How-to&#39;s</a>
					<a href="http://">Documentation</a>
					<a href="http://">Forums</a>
					<a href="http://">App Store</a>
					<a href="http://">API</a>
				</div>

				<div class="sitemap">
					<h2>Templates</h2>
					<a href="http://">What are templates?</a>
					<a href="http://">Browse templates</a>
					<a href="http://">Plug-ins</a>
					<a href="http://">Widgets</a>
					<a href="http://">Theming</a>
					<a href="http://">Open Source</a>
				</div>
				
				<div class="sitemap">
					<h2>About us</h2>
					<a href="http://">Mission</a>
					<a href="http://">Team</a>
					<a href="http://">Customers</a>
					<a href="http://">Partners</a>
					<a href="http://">Offices</a>
					<a href="http://">Contact us</a>
					<a href="http://">We&#39;re hiring!</a>
				</div>
				<div class="copyright">All rights reserved &copy; 2009 Mendix</div>
			</div>
		</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-8824828-3");
pageTracker._trackPageview();
} catch(err) {}</script>
