{% load extra_tags %}
                

	<div class="MendixContainer">
		<div class="Mendixhead">
			<div class="mendixLogo">
				<img src="https://world.mendix.com/img/logo_mendix.png" style="height: 34px;"/>
			</div>
			<div class="MendixheadNavigation">
					<ul>
						<li><a href="https://world.mendix.com/index.html">Home</a></li>
						<li><a href="https://world.mendix.com/display/learnmendix/Home">Learn</a></li>
						<li><a href="https://world.kantoor.mendix.nl/display/wiki/Home">Wiki</a></li>
						<li><a href="https://mxforum.mendix.com/">Forum</a></li>
						<li><a href="https://template-exchange.mendix.com/">Template Store</a></li>
						<li><a href="https://world.mendix.com/blogs/">Blogs</a></li>
						<li><a href="https://mxdn.mendix.com/">Partner Portal</a></li>
					</ul>
			</div>
			<div class="MendixheadText">
				<a href="http://www.mendix.com">Visit our corporate website mendix.com</a>
			</div>
			<div class="MendixfakeDiv"> </div>
		</div>
	</div>
				
				<table border="0" class="header-table">
                    <tbody>
                        <tr>
                            <td style="vertical-align:top">
                                <table border="0" style="width:100%;height:100%">
                                    <tbody>
                                        <tr style="height:50px">
                                            <td style="width:500px; vertical-align:top;text-align:left">
                                                <div id="header-links">
                                                    {% if request.user.is_authenticated %}
                                                        <a href="/users/{{ request.user.id }}/{{ request.user.username }}/">{{ request.user.username }}</a> {% get_score_badge request.user %} <span class="link-separator">|</span><a href="/accounts/logout/">logout</a>
                                                    {% else %}
                                                        <a href="/accounts/login/">sign in</a>
                                                    {% endif %}

                                                </div>
                                                


                                            </td>
                                            <td style="text-align:right">
                                                <form>
                                                    <input id="search" size="20" />
                                                    <input type="submit" value="Submit" class="submit"  />
                                                </form>


                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:left; width: 560px;">
                                                <div class="nav">
                                                    <UL>
														<LI class="" id="nav_home">
                                                            <A href="/">Home</A>
                                                        </LI>
                                                        <LI class="" id="nav_questions">
                                                            <A href="/questions/">Questions</A>
                                                        </LI>
                                                        <LI class="" id="nav_tags">
                                                            <A href="/tags/">Tags</A>
                                                        </LI>
                                                        <LI class="" id="nav_users">
                                                            <A href="/users/">Users</A>
                                                        </LI>
                                                        <LI class="" id="nav_badges">
                                                            <A href="/badges/">Badges</A>
                                                        </LI>
                                                        <LI class="" id="nav_unanswered">
                                                        <A href="/questions/unanswered/">Unanswered</A>
                                                        </LI>

                                                    </UL>
                                                </div>
                                            </td>
                                            <td style="text-align:right; width: 350px;">
                                                <div class="nav" style="float:right;margin-right:-5px">
                                                    <UL class="mainnav">
                                                        <LI class="" id="nav_ask">
                                                            <A href="/questions/ask/">Ask a question</A>
                                                        </LI>
                                                    </UL>
                                                </div>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>


                            </td>
                        </tr>
                    </tbody>
                </table>
