{% extends "base.html" %}
{% load extra_tags %}
{% load humanize %}
{% block title %}{% spaceless %}Home{% endspaceless %}{% endblock %}
{% block meta %}
  <meta name="keywords" content="mendix, community, mxforum, modeling, modeler, dsl" />
  <meta name="description" content="Mendix Community questions, discussions and items of interest" />
{% endblock %}
{% block forejs %}
       <script type="text/javascript">
        $().ready(function(){
            $("#ipSearchTag").focus();

            var tab_id = "{{ tab_id }}";
            $("#"+tab_id).attr('className',"youarehere");
           $("#nav_home").attr('className',"youarehere");
        });

        </script>
{% endblock %}
{% block content %}
<div id="main-bar" class="">
    <h3>
        Recent&nbsp;Questions
    </h3>
    <div id="tab" class="">
        <a id="latest" href="?sort=latest" title="Lastest questions">Latest</a>
        <a id="hottest" href="?sort=hottest" title="Hottest questions">Hot</a>
        <a id="mostvoted" href="?sort=mostvoted" title="Number of issues to vote">Most voted</a>
    </div>

</div>
<div id="main-body" class="">
    {% for question in questions %}
    <div class="question-item">

        <div class="boxes">
            <table height="100%">
                <tr>
                    <td width="50px" class="boxes-cell">
                        <div class="vote" style="padding:5px">
                            <table style="padding:5px;text-align:center;width:100%">
                                <tr>
                                    <td>
                                        <span class="box-number">{{ question.score|intcomma }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="box-unit">Votes</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td width="50px" class="boxes-cell">
                        <div {% if question.answer_accepted %}class="answered-accepted"{% else %}{% ifequal question.answer_count 0 %}class="unanswered"{% else %}class="answered"{% endifequal %}{% endif %}  style="padding:5px;">
                            <table style="padding:5px;text-align:center;width:100%">
                                <tr>
                                    <td>
                                        <span class="box-number">{{ question.answer_count|intcomma }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="box-unit">Answers</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td width="50px" class="boxes-cell">
                        <div class="view" style="padding:5px">
                            <table style="padding:5px;text-align:center;width:100%">
                                <tr>
                                    <td>
                                        <span class="box-number">{{ question.view_count|intcomma }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                      <div class="box-unit">Views</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="summary">
            <div class="qustion-title">
                <h3>
                    <a href="{{ question.get_absolute_url|urlencode }}" title="{{ question.summary }}...">
                        {{ question.get_question_title }}
                    </a>
                </h3>

            </div>

            <div class="question-tag">
                {% for tag in question.tagname_list %}
                    <a href="{% url forum.views.tag tag|urlencode %}" class="post-tag" title="View of the '{{ tag }}' question" rel="tag">{{ tag }}</a>
                {% endfor %}
            </div>
            <div class="question-started">
                    {% if question.wiki %}
                    <span class="gray">Community Wiki</span>
                    {% else %}
                    <span class="updatedtime" title="{{ question.last_activity_at }}"><strong>{% diff_date question.last_activity_at %}</strong></span> <span class="big"><a href="{{ question.last_activity_by.get_profile_url }}">{{ question.last_activity_by }}</a></span>&nbsp;{% get_score_badge question.last_activity_by %}
                    {% endif %}
            </div>

        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block sidebar %}
{% if not request.user.is_authenticated %}
<div class="yellow-box">
    <h3 class="darkred">Mendix Forum</h3>
    <div class="highlight-box">
      <p>
      Welcome to our interactive community forum. This is the place where modelers and developers meet to discuss, ask and answer Mendix-related questions and topics. Check out the <a href="/faq/">FAQ</a> to see how it works. Enjoy!
        </p>
        <div style="text-align:right">
            <a href="/faq/">FAQ »</a>
            <br>
        </div>
    </div>
</div>
{% endif %}
<div class="gray-box">
    <h3>Latest tags</h3>
    <div id="recent-tags">
        {% for tag in tags %}
            <a class="post-tag" rel="tag" title="View of the '{{ tag.name }}'" style="font-size:{% tag_font_size max min tag.used_count %}px;" href="{% url forum.views.tag tag.name|urlencode %}">{{ tag.name }}</a><span class="gray small" >({{ tag.used_count|intcomma }})</span>
        {% endfor %}
        <br>
        <a href="/tags/" style="float:right;position:relative">Popular tags »</a>
         <br>
    </div>
</div>
<div class="gray-box">
    <h3>Latest Badges</h3>
    {% for award in awards %}
    <div style="clear:both;line-height:35px">
        <a href="/badges/{{award.badge_id}}/{{award.badge_name}}" title="{{ award.badge_description }}" class="badge">
			<span class="badge{{ award.badge_type }}">&#9679;</span>&nbsp;{{ award.badge_name }}</a>
		<a href="/users/{{award.user_id}}/{{award.user_name}}">{{ award.user_name }}</a>
    </div>
    {% endfor %}
    <a href="{% url badges %}" style="float:right;position:relative">Badges</a>
    <br>
</div>
{% endblock %}
{% block tail %}
<div>
    <h3>Looking for more? Browse the <a href="/questions/">complete list of questions</a>,
    or <a href="/tags/">popular tags</a>. Help us<br> answer <a href="/questions/unanswered">unanswered questions</a>.
    </h3>
</div>
<div style="float:right">
<span>
<img src="/content/images/feed-icon-small.png" style="vertical-align:bottom"
     title="RSS feed Mendix Community" height="14" width="14" border="0">
<a href="/feeds/rss/" title="RSS feeds Mendix Community">RSS feeds</a></span>
</div>
{% endblock %}
