{% extends "base_content.html" %}
{% load extra_tags %}
{% load humanize %}
{% block title %}{% spaceless %}Privacy Policy{% endspaceless %}{% endblock %}
{% block forejs %}
{% endblock %}
{% block content %}
<div id="main-bar" class="">
    <h3>
        Privacy Policy
    </h3>
</div>
<div id="main-body" style="width:100%">
    <div id="" class="paragraph">
        CNProg recognize the importance of user privacy. This document outlines the CNProg in your browser to receive and process personal information collected by the type, as well as CNProg taken some measures to protect information. CNProg hope that this will help you informed on the sharing of personal information and our decision.
    </div>
    <div id="" class="paragraph">
        <h3 class="subtitle">Site visitors</h3>
        When you visit this site or use some of our online services, the server will automatically record information, including but not limited to, URL, IP address, browser type, screen resolution, system type and use of language, as well as the date and time of visit . Our aim is to provide you with better customer service, including the possibility to provide you with customized online services.
    </div>
    <div id="" class="paragraph">
        <h3 class="subtitle">Personally identifiable information</h3>
        CNProg in the registry to use the question and answer feature, we ask users to provide user names, passwords, e-mail and other information. CNProg on the collection of personally identifiable information only to log on to the system function of the purpose of use. We will not to any other community users, individuals or third parties to disclose your password or e-mail messages. Users can selectively fill in user information, personal Web site, age, city and other information that we collect these elements in order to enable users to more easily and more satisfied with the use of CNProg website and services provided.
    </div>
    <div id="" class="paragraph">
        <h3 class="subtitle">Other services</h3>
        CNProg may be collected and statistical profile of site users to access data. For example, CNProg detection may be some Web site features the most popular. CNProg publicly display, or may be provided to third parties to use the data. However, CNProg will not disclose your identity information.
    </div>
    <div id="" class="paragraph">
        <h3 class="subtitle">Cookie</h3>
        CNProg visit, we will send your computer to one or more specifically used to identify your browser's Cookie (contains a string of small files). The purpose of the use of Cookie is stored user preferences and tracking user tendencies (such as search methods) to improve the quality of our services. Most browsers are initially set up to accept the Cookie, but it can be reset to refuse all Cookie or Cookie Prompt received. However, if disabled Cookie, certain features and services may not be able to operate normally. 
    </div>
    <div id="" class="paragraph">
        <h3 class="subtitle">Policy change</h3>
             We may with or without notice at any time to change the circumstances of this "Privacy Policy", we recommend that users always see CNProg privacy policy changes, after the entry into force any change in your continued access and use of this site, we are assuming that you have agreed to CNProg all the provisions of the above.
    </div>
    <br><br>
</div>
{% endblock %}



