{% extends "base.html" %}
{% load extra_tags %}
{% load extra_filters %}
{% load humanize %}
{% block title %}{% spaceless %}All questions{% endspaceless %}{% endblock %}
{% block forejs %}

	<script type="text/javascript">
        $().ready(function(){
            $("#ipSearchTag").focus();

            var tab_id = "{{ tab_id }}";
            $("#"+tab_id).attr('className',"youarehere");
           $("#nav_questions").attr('className',"youarehere");
        });
         
        </script>
{% endblock %}
{% block content %}
<div id="main-bar" class="">
    <h3>{% if searchtag %}Labels{% else %}All questions{% endif %}
    </h3>
    <div id="tab" class="">
        <a id="latest" href="?sort=latest" title="Latest questions">Latest</a>
        <a id="active" href="?sort=active" title="Most active questions">Active</a>
        <a id="hottest" href="?sort=hottest" title="Hottest questions">Hottest</a>
        <a id="mostvoted" href="?sort=mostvoted" title="Number of issues to vote">Most voted</a>
    </div>
    
</div>
<div id="main-body" class="">
    {% for question in questions.object_list %}
    <div class="question-item">
        <table class="questions-boxes-container">
            <tr>
                <td>
                    <div class="questions-boxes">
                        <div class="vote" style="text-align:center">
                            <div class="questions-votebox">
                                 <span class="questions-vote-number">{{ question.score|intcomma }}</span><br>
                                 <span class="box-unit">votes</span>
                            </div>
                            <div class="questions-answerbox">
                                <div {% if question.answer_accepted %}class="answered-accepted"{% else %}{% ifequal question.answer_count 0 %}class="unanswered"{% else %}class="answered"{% endifequal %}{% endif %} id="questions-answerbox-cell">
                                    <span class="questions-answer-number">{{ question.answer_count|intcomma }}</span><br>
                                    <span class="box-unit">answers</span>
                                </div>
                            </div>
                        </div>
                        <div class="questions-viewbox">
                            <span class="box-unit">{{ question.view_count|rint }} views</span>
                        </div>
                    </div>
                </td>
                <td class="questions-boxicon">
                <img src="/content/images/box-arrow.gif">
                </td>
            </tr>
	        
        </table>
        
        <div class="questions-summary-container">
            <div class="qustion-title">
                <h3>
                    <a href="{{ question.get_absolute_url }}" title="{{ question.summary }}...">
                        {{ question.get_question_title }}
                    </a>
                </h3>
                
            </div>
            <div class="qustions-summary">
                {{ question.summary }}...                
            </div>
            <div class="question-tag">
                {% for tag in question.tagname_list %}
                    <a href="{% url forum.views.tag tag|urlencode %}" class="post-tag" title="View of the '{{ tag }}' of the problem" rel="tag">{{ tag }}</a>
                {% endfor %}
            </div>
            <div class="questions-mark">
                {% ifequal tab_id 'active'%}
                <table width="100%">
                    <tr>
                        <td colspan="2" class="gray"> 
                        Last updated at <span title="{{ question.last_activity_at }}"><strong>{% diff_date question.last_activity_at %}</strong></span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:40px;vertical-align:bottom">
                        {% gravatar question.last_activity_by 32 %}
                        </td>
                        <td style="width:120px;vertical-align:top">
                            <div><a href="/users/{{ question.last_activity_by.id }}/{{ question.last_activity_by.real_name }}"><span class="big">{{ question.last_activity_by.real_name }}</span></a></div>
                            <div>
                            {% get_score_badge question.last_activity_by %}
                            </div>
                        </td>
                    </tr>
                </table>
                {% else %}
                {% if question.wiki %}
                <span class="gray">Community Wiki</span>
                {% else %}
                <table width="100%">
                    <tr>
                        <td colspan="2" class="gray"> 
                        Question in <span title="{{ question.added_at }}"><strong>{% diff_date question.added_at %}</strong></span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:40px;vertical-align:bottom">
                        {% gravatar question.author 32 %}
                        </td>
                        <td style="width:120px;vertical-align:top">
                            <div><a href="/users/{{ question.author.id }}/{{ question.author }}"><span class="big">{{ question.author.real_name }}</span></a></div>
                            <div>
                            {% get_score_badge question.author %}
                            </div>
                        </td>
                    </tr>
                </table>
                {% endif %}
                {% endifequal %}
            </div>
            
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block tail %}
                            {% cnprog_paginator context %}
                        <div class="paginator-container">
                            {% cnprog_pagesize context %}
                        </div>
{% endblock %}

{% block sidebar %}
<div class="gray-box">
	<div>
		<center>
    You are browsing <br><div class="questions-count">{{ questions_count|intcomma }}</div>
        <div class="paragraph"> Questions
            {% if searchtag %}
                marked as
                <span class="post-tag">
                    {{ searchtag }}
									</span><!-- of -->
            {% endif %}
					</div>
				</center>
				<!--
        {% ifequal tab_id "latest" %}
        <div class="paragraph">questions<strong> question time by </strong>show the sort. New questions will be shown first.</div>
        {% endifequal %}

        {% ifequal tab_id "active" %}
            <div class="paragraph">questions<strong>  last updated by </strong>show the sort. Finally answer the question or update will be displayed first. </div>
        {% endifequal %}

        {% ifequal tab_id "hottest" %}
            <div class="paragraph"> questions <strong> number of responses according to </strong> show the sort. Back up to the problem will be shown first.</div>
        {% endifequal %}

        {% ifequal tab_id "mostvoted" %}
            <div class="paragraph"> questions <strong>vote by the number of</strong> show the sort. The most votes will be displayed on the main page.</div>
						{% endifequal %}
						-->

        <div class="paragraph">You can also use <a href="/tags/" title="View all tags"><strong>tags</strong></a> and <a href="#" title="Search problems"><strong>searchs</strong></a> to find questions.</div>

    </div>
</div>
<div class="gray-box">
    <h3>Related tags</h3>
    <div id="related-tags">
        {% for tag in tags %}
            <a class="post-tag" rel="tag" title="View of the '{{ tag.name }}' of the problem"  href="{% url forum.views.tag tag.name|urlencode %}">{{ tag.name }}</a>
            <span class="tag-number">× {{ tag.used_count|intcomma }}</span>
            <br>
        {% endfor %}
        <br>
    </div>
</div>

{% endblock %}

