{% extends "base.html" %}
{% block sidebar %}
<div class="welcome-box">
    <h3>Welcome !</h3>
    <div>
        <b>DEVPRO.CN</b> - Interactive Q & A community programmers China<br><br>
         Through open technical exchange and share experience in software development, and enhance China's technological level programmers.
        <br><br>
         Communication to promote growth, to share dreams!
    </div>
</div>
<div class="tags-box">
    <h3>Tags</h3>
    <div id="recent-tags">
        <a class="post-tag" rel="tag" title="show questions tagged 'stackoverflow'" href="/questions/tagged/stackoverflow">stackoverflow</a>
        <a class="post-tag" rel="tag" title="show questions tagged 'etiquette'" href="/questions/tagged/etiquette">etiquette</a>
        <a class="post-tag" rel="tag" title="show questions tagged 'rules'" href="/questions/tagged/rules">rules</a>
        <a class="post-tag" rel="tag" title="show questions tagged 'file-sharing'" href="/questions/tagged/file-sharing">file-sharing</a>
        <a class="post-tag" rel="tag" title="show questions tagged 'not-programming-related'" href="/questions/tagged/not-programming-related">not-programming-related</a>
        <a class="post-tag" rel="tag" title="show questions tagged 'intellij-idea'" href="/questions/tagged/intellij-idea">intellij-idea</a>
        <a class="post-tag" rel="tag" title="show questions tagged 'memcached'" href="/questions/tagged/memcached">memcached</a>
        <a class="post-tag" rel="tag" title="show questions tagged 'caching'" href="/questions/tagged/caching">caching</a>
        <a class="post-tag" rel="tag" title="show questions tagged 'distributed-caching'" href="/questions/tagged/distributed-caching">distributed-caching</a>
        <a class="post-tag" rel="tag" title="show questions tagged 'calculation'" href="/questions/tagged/calculation">calculation</a>
        <a class="post-tag" rel="tag" title="show questions tagged 'date'" href="/questions/tagged/date">date</a>
        <a class="post-tag" rel="tag" title="show questions tagged 'php'" href="/questions/tagged/php">php</a>
        <a class="post-tag" rel="tag" title="show questions tagged 'project-management'" href="/questions/tagged/project-management">project-management</a>
        <a class="post-tag" rel="tag" title="show questions tagged 'time-management'" href="/questions/tagged/time-management">time-management</a>
        <a class="post-tag" rel="tag" title="show questions tagged 'web-applications'" href="/questions/tagged/web-applications">web-applications</a>
        <a class="post-tag" rel="tag" title="show questions tagged 'w2'" href="/questions/tagged/w2">w2</a>
        <a class="post-tag" rel="tag" title="show questions tagged 'dotnet'" href="/questions/tagged/dotnet">dotnet</a>
        <a class="post-tag" rel="tag" title="show questions tagged 'flex'" href="/questions/tagged/flex">flex</a>
        <a class="post-tag" rel="tag" title="show questions tagged 'cairngorm'" href="/questions/tagged/cairngorm">cairngorm</a>
        <a class="post-tag" rel="tag" title="show questions tagged 'flexbuilder'" href="/questions/tagged/flexbuilder">flexbuilder</a>
        <b>
        </b>
        <a class="post-tag" rel="tag" title="show questions tagged 'types'" href="/questions/tagged/types">types</a>
        <a class="post-tag" rel="tag" title="show questions tagged 'casting'" href="/questions/tagged/casting">casting</a>
        <a class="post-tag" rel="tag" title="show questions tagged 'win32'" href="/questions/tagged/win32">win32</a>
        <span style="font-size: 120%; font-weight: bold;">
            <a class="post-tag" rel="tag" title="show questions tagged 'sql'" href="/questions/tagged/sql">asp.net</a>
        </span>
        <a class="post-tag" rel="tag" title="show questions tagged 'crash-dumps'" href="/questions/tagged/crash-dumps">crash-dumps</a>
        <a class="post-tag" rel="tag" title="show questions tagged 'vs2005'" href="/questions/tagged/vs2005">vs2005</a>
        <a class="post-tag" rel="tag" title="show questions tagged 'minidump'" href="/questions/tagged/minidump">minidump</a>
        <a class="post-tag" rel="tag" title="show questions tagged 'bazaar'" href="/questions/tagged/bazaar">bazaar</a>
        <a class="post-tag" rel="tag" title="show questions tagged 'bzr'" href="/questions/tagged/bzr">bzr</a>
        <a class="post-tag" rel="tag" title="show questions tagged 'version-control'" href="/questions/tagged/version-control">version-control</a>
        <a class="post-tag" rel="tag" title="show questions tagged 'source-control'" href="/questions/tagged/source-control">source-control</a>
        <a class="post-tag" rel="tag" title="show questions tagged 'sqlserver2005'" href="/questions/tagged/sqlserver2005">sqlserver2005</a>
        <a class="post-tag" rel="tag" title="show questions tagged 'sql'" href="/questions/tagged/sql">sql</a>
        
        
        
    </div>
</div>
<div class="badge-box">
    <h3>Latest badge</h3>
    <div>
        <div class="badge-item">
            <a class="badge" title="bronze badge: First accepted answer" href="/badges/10/scholar">
            <span class="badge3">●</span>
             Teachers
            </a>
            Give
            <a href="#">Chen Gang</a>
        </div>
        <div class="badge-item">
            <a class="badge" title="bronze badge: First accepted answer" href="/badges/10/scholar">
            <span class="badge3">●</span>
             Magician
            </a>
            Give
            <a href="#">Mike Chen</a>
        </div>
    </div>
</div>
{% endblock %}

