{% extends "base_content.html" %}
{% load extra_tags %}
{% load humanize %}
{% block title %}{% spaceless %}Tags{% endspaceless %}{% endblock %}
{% block forejs %}
       <script type="text/javascript">
        $().ready(function(){
            $("#nav_tags").attr('className',"youarehere");
            $("#ipSearchTag").focus();
            
            var orderby = "{{ tab_id }}";
            if(orderby != "used" && orderby != "name")
                orderby = "used";
            $("#sort_" + orderby).attr('className',"youarehere");
        });
         
        </script>
{% endblock %}
{% block content %}
<div id="main-bar" class="">
    <h3>
       Tags
    </h3>
    <div id="tab" class="">
	<a id="sort_used" href="?sort=used" title="Sort by usage">Popular</a>
        <a id="sort_name" href="?sort=name" title="Sort by name">Name</a>
    </div>
</div>
<div id="main-body" style="width:100%">
    <div class="paragraph">
        <form action="/tags/" method="post">
            <table>
		
			<p>Questions are grouped by tags. Using the right tags makes it easier for others to find and answer your question.</p>
		
    	        <tr>
    	        	<td style="padding-right: 10px;">Type and press search to find tags:</td>
    	        	<td width="310px" style="vertical-align:top;">
						<input id="ipSearchTag" name="ipSearchTag" autocomplete="off" size="40" >
					</td>
					<td>
						<input id="btSearchTag" type="submit" class="submit" value="Search &#187;" />
					</td>
    	        </tr>
    	        
            </table>
        </form>
        {% if stag %}
            All tags matching '<span class="darkred"><strong>{{ stag }}</strong></span>' : 
        {% endif %}
    </div>
    {% if not tags.object_list %}
        <span >No relevant data found</span>
    {% endif %}
    <table class="list-table">
        <tr>    
            <td class="taglist-td">
            {% for tag in tags.object_list %}
                <a href="{% url forum.views.tag tag|urlencode %}" class="post-tag" title=" View the '{{ tag }}' question" rel="tag">
                    {{ tag }}
                </a> 
                <span class="tag-number">× {{ tag.used_count|intcomma }}</span>
                <br>
                
                {% if forloop.counter|divisibleby:"13" %}
                    </td>
                    <td class="taglist-td">
                {% endif %}

            {% endfor %}
            </td>
        </tr>   
    </table>
    <div class="paginator-container">
        {% cnprog_paginator context %}
    </div>
    
    
</div>
{% endblock %}



